@import url('./__description/profile__description.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__title/profile__title.css');
@import url('./__image/profile__image.css');

.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 36px 0;
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 43px 0;
    flex-direction: column;
    text-align: center;
  }
}


.form__input-error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  }
  
  .form__input-error_active {
    opacity: 1;
  }

  .popup__button_disabled {
    color: #B8B8B8;
    background: #EDEDED;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }

  .card__like-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px
  }

  .card__like-counter{
    margin:0;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: black;
  }